 *{
               box-sizing: border-box;

          }
          body{
               background: #202938;
               font-family: Sans-Serif;
          }
          .container{
               margin: 100px auto;
               padding: 1.5rem;
               color: #F5F7FA;
     
          }
          .main-btn{
               border: none;
               border-radius: 5px;
               background: #10B982;
               font-size: 1rem;
               font-weight: bold;
               padding: 10px;
               color: #F5F7FA;
          }
          .random{
               color: #10B982;
          }
          .intro{
            margin: 50px 0;
          }
         
          .sub{
               border-bottom: 1px solid #ADAEAF;
               padding: 20px 0;
               margin: 15px auto;
          }
          .main-btn{
               margin: 15px 0;
               outline: none;
          }
          .password-container{  
               background: #263548;
               display: block;
               border: none;
               padding: 15px;
               font-weight: bold;
               border-radius: 5px;
               width: 50%;
               max-height: fit-content;
               outline: none;
          }
          .fine-print{
     font-size: 0.75rem;
     letter-spacing: 1px;
     color: #858585;
}
          .output{
               margin: 0 auto;
               padding: 0;
               display: flex;
               gap: 20px;
               justify-content: space-between;
               color: #10B982;
          }

          #refresh{
               display: none;
          }
          p{
               font-weight: bold;
          }
          .input{
               color: white;
          }